    <meta charset="UTF-8">
    <title>中交城管管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icon.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
        #fm {
            margin:0;
            padding:10px 30px;
        }
        .ftitle {
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem {
            margin-bottom:5px;
        }
        .fitem label {
            display:inline-block;
            width:80px;
        }
        .l-btn-left {
            padding:5px;
        }
        </style>